html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

/* Navbar */
.navbar {
  background-color: #add8e6;
  font-family: "Poppins", sans-serif;
  text-shadow: 1px 1px 2px black;
}
.text_brand {
  color: white;
}
.text_link {
  color: white;
}

/* End Navbar */

/* Content */
.container_content {
  background-color: #add8e6;
  height: auto;
}
.image {
  height: 200px;
  width: auto;
  border-radius: 50%;
}
.image_box {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

.text_profile {
  margin-left: 100px;
  margin-top: 150px;
  font-family: "Poppins", sans-serif;
}
/* End Content */

/* About */
.text_about {
  font-family: "Poppins", sans-serif;
}
/* End About */

/* Skill */
.img_skill {
  object-fit: cover;
}
.row_skill {
  display: flex;
  justify-content: center;
}
.container_img_skill {
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
/* End Skill */

/* Project */
.row_project {
  font-family: "Poppins", sans-serif;
}
.img_card {
  width: auto;
  height: 150px;
  object-fit: cover;
}
.card_body_project {
  height: 170px;
}

/* End Project */

/* Contact */
.text_contact {
  font-family: "Poppins", sans-serif;
}
.link_contact {
  display: flex;
  justify-content: center;
}
.logo_contact {
  height: 40px;
  width: auto;
  margin: 10px;
}
/* End Contact */

/* Footer */
.text_footer {
  text-align: center;
  padding: 10px;
  background-color: #add8e6;
  font-family: "Poppins", sans-serif;
}
/* End Footer */
